<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.ZenMomPregnancy"
        tools:replace="android:supportsRtl"
        tools:targetApi="31">
        <activity
            android:name=".DatePickerActivity"
            android:exported="false" />

        <activity
            android:name=".Disclaimer"
            android:exported="false" /> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" /> <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" /> <!-- Splash Screen Activity -->
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".TermsAndConditions"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicy"
            android:exported="false" />
        <activity
            android:name=".BMI"
            android:exported="false" />
        <activity
            android:name=".HomemadeTest"
            android:exported="false" />
        <activity
            android:name=".PregnancySignsContent"
            android:exported="false" />
        <activity
            android:name=".PregnancySigns"
            android:exported="false" />
        <activity
            android:name=".TestingGuide"
            android:exported="false" />
        <activity
            android:name=".NutritionContent"
            android:exported="false" />
        <activity
            android:name=".BabySizeMilestone"
            android:exported="false" />
        <activity
            android:name=".UrineTestGuide"
            android:exported="false" />
        <activity
            android:name=".PartnerSupport"
            android:exported="false" />
        <activity
            android:name=".FetalDevelopmentChart"
            android:exported="false" />
        <activity
            android:name=".CommonComplaints"
            android:exported="false" />
        <activity
            android:name=".Breastfeeding"
            android:exported="false" />
        <activity
            android:name=".Immunization"
            android:exported="false" />
        <activity
            android:name=".SexualHealth"
            android:exported="false" />
        <activity
            android:name=".MentalHealth"
            android:exported="false" />
        <activity
            android:name=".PhysicalActivity"
            android:exported="false" />
        <activity
            android:name=".OralHealth"
            android:exported="false" />
        <activity
            android:name=".AlcoholAndSmoke"
            android:exported="false" />
        <activity
            android:name=".FolicAcid"
            android:exported="false" />
        <activity
            android:name=".PrenatalNutrition"
            android:exported="false" />
        <activity
            android:name=".ComprehensiveGuideActivity"
            android:exported="false" />
    </application>

</manifest>